.Rproj.user
.Rhistory
.RData
heatmap-mik2-mod.R
heatmap-mik2-modx
heatmap-mik2.R
heatmap-mik-mod.R
heatmap-mik.R
heatmap-mik-tk2.R
heatmap-mik-tk3.R
heatmap-mik-tk.R
heatmap-2.R
heatmap-d3.R
headers.R
